footer.footer
    .hashtag #visitsedona
    .social__list
        .social__item
            a(href='').social__link.social_tw
        .social__item
            a(href='').social__link.social_fb
        .social__item
            a(href='').social__link.social_yt
    .designed
        .designed__text Разработано
        img(alt='лого компании').designed__logo