header.header__wrap
    .top-menu
        .top-menu__list
            .top-menu__item
                a(href='').top-menu__link Главная
            .top-menu__item
                a(href='').top-menu__link Фото и видео
            .top-menu__item
            .top-menu__item
                a(href='').top-menu__link Форма отзыва
            .top-menu__item
                a(href='').top-menu__link HTML ACADEMY
        a(href='').menu__btn.menu__btn_gamburger
    .header
        .text-index
    img(alt='стрела' src='./assets/img/arrow-down.svg').arrow-down
