header.header__wrap
    .top-menu
        img(alt='главный логотип' src='./assets/img/logotype-mobile.svg').logo
        a(href='').menu__btn.menu__btn_gamburger
    .header
        .text-index
    img(alt='стрела' src='./assets/img/intro-triangle-tablet.svg').arrow-down
