header.header__wrap
    .top-menu
        img(alt='главный логотип').logo
        a(href='').menu__btn.menu__btn_gamburger
    .header
        .header-desc
            .header-desc__welcome Welcome
            .header-desc__tothe to the gorgeous
            .header-desc__sedona sedona
            .header-desc__because Because the Grand Canyon sucks!
