section.interested
    .interested__head Заинтересовались?
    .interested__desc Укажите предполагаемые даты поездки и мы покажем вам лучшие предложения гостиниц в Седоне
    a(href='').interested__btn Найти гостиницу