main.main-form
    section.review
        header.review-header
            .review-header__name Оставьте свой отзыв
            .review-header__desc Помогите нашим отелям стать лучше! Оставьте отзыв о них, а также о посещенных вами достопримечательностях
    form.form__list
        .form__item
            .form__common-title.form-introduce__name Представьтесь:
            .form-introduce__list
                .form-introduce__item
                    .form__common-name.form__fname Имя*:
                    input(placeholder='Петр').form-input.form-input__fname
                .form-introduce__item
                    .form__common-name.form__lname Фамилия*:
                    input(placeholder='Иванов').form-input.form-input__lname
                .form-introduce__item
                    .form__common-name.form__mname Отчество:
                    input(placeholder='Александрович').form-input.form-input__mname
        .form__item
            .form__common-title.form-contact__name Контактная информация:
            .form-contact__list
                .form-contact__item
                    .form__common-name.form__tel Контактный телефон*:
                    .input-contact.input-contact_tel
                        input(placeholder='Введите телефон').form-input.form-input__tel
                .form-contact__item
                    .form__common-name.form__email Электронная почта*:
                    .input-contact.input-contact_email
                        input(placeholder='Введите e-mail').form-input.form-input__email
        .form__item
            .form__common-title.form-impression__name Ваше общее впечатление:
            .form-impression__list
                .form-impression__item
                    input(type='radio' id="radio1" name="radio").form-input__radio
                    label(for="radio1").form-impression__label.form__name Скорее положительное
                .form-impression__item
                    input(type='radio' id="radio2" name="radio").form-input__radio
                    label(for="radio2").form-impression__label.form__name Скорее отрицательное
                .form-impression__item
                    input(type='radio' id="radio3" name="radio").form-input__radio
                    label(for="radio3").form-impression__label.form__name Затрудняюсь ответить
        .form__item
            .form__common-title.form-landmark__name Посещенные достопримечательности:
            .form-landmark__list
                .form-landmark__item
                    input(type='checkbox' id="checkbox1").form-input__checkbox
                    label(for="checkbox1").form-landmark__label.form__name  Мост Дьявола
                .form-landmark__item
                    input(type='checkbox' id="checkbox2").form-input__checkbox
                    label(for="checkbox2").form-landmark__label.form__name Гора-Колокол
                .form-landmark__item
                    input(type='checkbox' id="checkbox3").form-input__checkbox
                    label(for="checkbox3").form-landmark__label.form__name Слайд-парк
                .form-landmark__item
                    input(type='checkbox' id="checkbox4").form-input__checkbox
                    label(for="checkbox4").form-landmark__label.form__name Красные скалы
        .form__item
            .emotions__name.form__common-title Опишите свои эмоции
            textarea(placeholder='Опишите подробно все свои восторги').form__textarea
            button(type="submit").emotions__btn Отправить отзыв
