section.video
    header.video-header
        .video-header__name Все еще сомневаетесь?
        .video-header__desc Смотрите видеопрезентация и скорее за билетами, пока они не подорожали в очередной раз!
    .player
        .player__window
        .player__track
        .player__control
            a.player__replay
            a.player__cc
            a.player__fs