section.photo
    header.photo-header
        .photo-header__name Фото и видео
        .photo-header__desc Не можете решиться на путешеcтвие из-за курса? Фотографии помогут вам забыть о политике и экономике.
    .photo__list
        .photo__item
            .photo-img__wrap
                picture
                    source(srcset="../assets/img/spaces-desktop.jpg, ../assets/img/spaces-desktop@2x.jpg 2x" media="(min-width: 1200px)")
                    source(srcset="../assets/img/spaces-tablet.jpg, ../assets/img/spaces-tablet@2x.jpg 2x" media="(min-width: 768px)")
                    source(srcset="../assets/img/spaces-mobile.jpg, ../assets/img/spaces-mobile@2x.jpg 2x")
                    img(srcset="../assets/img/spaces-mobile.jpg, ../assets/img/spaces-mobile@2x.jpg 2x" alt='Неродные просторы').photo__img.photo__img_spaces
            .photo__txt
                .photo__title Неродные просторы
                .photo__author Автор фото:
                .photo__name Борис
                .photo__like-wrap
                    .photo__like 1350
        .photo__item_wrap
            .photo__item.photo__item_width
                .photo-img__wrap
                    picture
                        source(srcset="../assets/img/veget-desktop.jpg, ../assets/img/veget-desktop@2x.jpg 2x" media="(min-width: 1200px)")
                        source(srcset="../assets/img/veget-tablet.jpg, ../assets/img/veget-tablet@2x.jpg 2x" media="(min-width: 768px)")
                        source(srcset="../assets/img/veget-mobile.jpg, ../assets/img/veget-mobile@2x.jpg 2x")
                        img(srcset="../assets/img/veget-mobile.jpg, ../assets/img/veget-mobile@2x.jpg 2x" alt='Местная растительность').photo__img.photo__img_veget
                .photo__txt
                    .photo__title Местная растительность
                    .photo__author Автор фото:
                    .photo__name Сергей
                    .photo__like-wrap
                        .photo__like 143
            .photo__item.photo__item_width
                .photo-img__wrap
                    picture
                        source(srcset="../assets/img/road-desktop.jpg, ../assets/img/road-desktop@2x.jpg 2x" media="(min-width: 1200px)")
                        source(srcset="../assets/img/road-tablet.jpg, ../assets/img/road-tablet@2x.jpg 2x" media="(min-width: 768px)")
                        source(srcset="../assets/img/road-mobile.jpg, ../assets/img/road-mobile@2x.jpg 2x")
                        img(srcset="../assets/img/road-mobile.jpg, ../assets/img/road-mobile@2x.jpg 2x" alt='Дорога на север').photo__img.photo__img_road
                .photo__txt
                    .photo__title Дорога на север
                    .photo__author Автор фото:
                    .photo__name Петр
                    .photo__like-wrap
                        .photo__like 96
            .photo__item.photo__item_width
                .photo-img__wrap
                    picture
                        source(srcset="../assets/img/bridge-desktop.jpg, ../assets/img/bridge-desktop@2x.jpg 2x" media="(min-width: 1200px)")
                        source(srcset="../assets/img/bridge-tablet.jpg, ../assets/img/bridge-tablet@2x.jpg 2x" media="(min-width: 768px)")
                        source(srcset="../assets/img/bridge-mobile.jpg, ../assets/img/bridge-mobile@2x.jpg 2x")
                        img(srcset="../assets/img/bridge-mobile.jpg, ../assets/img/bridge-mobile@2x.jpg 2x" alt='Мост дьявола').photo__img.photo__img_bridge
                .photo__txt
                    .photo__title Мост дьявола
                    .photo__author Автор фото:
                    .photo__name Антон
                    .photo__like-wrap
                        .photo__like 254
