section.photo
    header.photo-header
        .photo-header__name Фото и видео
        .photo-header__desc Не можете решиться на путешеcтвие из-за курса? Фотографии помогут вам забыть о политике и экономике.
    .photo__list
        .photo__item
            .photo-img__wrap
                img(alt='Неродные просторы' src="../assets/img/spaces-mobile.jpg" srcset="../assets/img/spaces-mobile@2x.jpg 2x").photo__img.photo__img_spaces
            .photo__txt
                .photo__title Неродные просторы
                .photo__author Автор фото:
                .photo__name Борис
                .photo__like-wrap
                    .photo__like 1350
        .photo__item_wrap
            .photo__item.photo__item_width
                .photo-img__wrap
                    img(alt='Местная растительность' src="../assets/img/veget-mobile.jpg" srcset="../assets/img/veget-mobile@2x.jpg 2x").photo__img.photo__img_veget
                .photo__txt
                    .photo__title Местная растительность
                    .photo__author Автор фото:
                    .photo__name Сергей
                    .photo__like-wrap
                        .photo__like 143
            .photo__item.photo__item_width
                .photo-img__wrap
                    img(alt='Дорога на север' src="../assets/img/road-mobile.jpg" srcset="../assets/img/road-mobile@2x.jpg 2x").photo__img.photo__img_road
                .photo__txt
                    .photo__title Дорога на север
                    .photo__author Автор фото:
                    .photo__name Петр
                    .photo__like-wrap
                        .photo__like 96
            .photo__item.photo__item_width
                .photo-img__wrap
                    img(alt='Мост дьявола' src="../assets/img/bridge-mobile.jpg" srcset="../assets/img/bridge-mobile@2x.jpg 2x").photo__img.photo__img_bridge
                .photo__txt
                    .photo__title Мост дьявола
                    .photo__author Автор фото:
                    .photo__name Антон
                    .photo__like-wrap
                        .photo__like 254
