.mobile-menu
    .mobile-menu__list
        .mobile-menu__item
            a(href='./index.html').mobile-menu__link.mobile-menu__link_active Главная
            a(href='').mobile-menu__btn.mobile-menu__btn_cross
        .mobile-menu__item
            a(href='./photo.html').mobile-menu__link Фото и видео
        .mobile-menu__item
            a(href='./form.html').mobile-menu__link Форма отзыва
        .mobile-menu__item
            a(href='http://htmlacademy.ru').mobile-menu__link Html academy