.mobile-menu
    a(href='').mobile-menu__btn.mobile-menu__btn_cross
    .mobile-menu__list
        .mobile-menu__item
            a(href='').mobile-menu__link.mobile-menu__link_active Главная
        .mobile-menu__item
            a(href='').mobile-menu__link Фото и видео
        .mobile-menu__item
            a(href='').mobile-menu__link Форма отзыва
        .mobile-menu__item
            a(href='').mobile-menu__link Html academy