section.reasons
    header.reasons-head
        h2.reasons-head__slogan Седона - небольшой городок в Аризоне, заслуживающий большего!
        h3.reasons-head__5reasons Рассмотрим 5 причин, по которым седона круче, чем гранд каньон!
    .reasons__list
        .reasons__item
            header.reasons-header
                .reasons-header_head Настоящий городок
                .reasons-header_number #1
                .reasons-header_desc седона не аттракцион для туристов, там течет своя жизнь
            .reasons__img-wrap
                img(alt='Настоящий городок').reasons__img.reasons__img_truetown
            .features__list
                .features__item
                    .features__head жильё
                    .features__text рекомендуем пожить в настоящем мотеле, все как в кино!
                    .features__icon.features__icon_house
                .features__item
                    .features__head сувениры
                    .features__text не только китайского, но и местного производства!
                    .features__icon.features__icon_gift
                .features__item
                    .features__head еда
                    .features__text всегда заказывайте фирменный бургер, вы не разочаруетесь!
                    .features__icon.features__icon_burger
        .reasons__item
            header.reasons-header
                .reasons-header_head там есть мост дьявола
                .reasons-header_number #2
                .reasons-header_desc да, по нему можно пройтись, если вы осмелитесь, конечно
            .reasons__img-wrap
                img(alt='мост дьявола').reasons__img.reasons__img_bridge
        .reasons__item
            header.reasons-header
                .reasons-header_head небольшая площадь
                .reasons-header_number #3
                .reasons-header_desc все интересные места находятся очень близко
        .reasons__item
            header.reasons-header
                .reasons-header_head красивая дорога
                .reasons-header_number #4
                .reasons-header_desc ехать в седону из лас-вегаса совсем не скучно!
        .reasons__item
            header.reasons-header
                .reasons-header_head мало туристов
                .reasons-header_number #5
                .reasons-header_desc большинство едет в гранд каньон и толпится там
