div.reasons
    header.reasons-head
        .reasons-head__slogan Седона - небольшой городок в Аризоне, заслуживающий большего!
        .reasons-head__5reasons Рассмотрим 5 причин, по которым седона круче, чем гранд каньон!
        img(alt='стрела' src='./assets/img/arrow-down-b.svg').arrow-down.arrow-down-b
    .reasons__list
        .reasons__item.reasons__item_row
            header.reasons-header
                .reasons-header_head Настоящий городок
                .reasons-header_number &mdash; &#8470;1 &mdash;
                .reasons-header_desc.reasons-header_noborder седона не аттракцион для туристов, там течет своя жизнь
            .reasons__img.reasons__img_truetown
        .reasons__item
            .features__list
                .features__item
                    .features__head жильё
                    .features__text рекомендуем пожить в настоящем мотеле, все как в кино!
                    .features__icon.features__icon_house
                .features__item
                    .features__head сувениры
                    .features__text не только китайского, но и местного производства!
                    .features__icon.features__icon_gift
                .features__item
                    .features__head еда
                    .features__text всегда заказывайте фирменный бургер, вы не разочаруетесь!
                    .features__icon.features__icon_burger
        .reasons__item.reasons__item_row
            header.reasons-header
                .reasons-header_head там есть мост дьявола
                .reasons-header_number &mdash; &#8470;2 &mdash;
                .reasons-header_desc.reasons-header_noborder да, по нему можно пройтись, если вы осмелитесь, конечно
            .reasons__img.reasons__img_bridge
        .reasons__item.reasons__item_row
            header.reasons-header.reasons-header_bg-gray
                .reasons-header_head.reasons-header_black небольшая площадь
                .reasons-header_number.reasons-header_dark &mdash; &#8470;3 &mdash;
                .reasons-header_desc.reasons-header_dark все интересные места находятся очень близко
            header.reasons-header.reasons-header_bg-gray
                .reasons-header_head.reasons-header_black красивая дорога
                .reasons-header_number.reasons-header_dark &mdash; &#8470;4 &mdash;
                .reasons-header_desc.reasons-header_dark ехать в седону из лас-вегаса совсем не скучно!
            header.reasons-header.reasons-header_bg-gray
                .reasons-header_head.reasons-header_black мало туристов
                .reasons-header_number.reasons-header_dark &mdash; &#8470;5 &mdash;
                .reasons-header_desc.reasons-header_dark.reasons-header_noborder большинство едет в гранд каньон и толпится там
