@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/ptsans-bold.eot');
  src: url('../fonts/ptsans-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ptsans-bold.woff2') format('woff2'),
  url('../fonts/ptsans-bold.woff') format('woff'),
  url('../fonts/ptsans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/ptsans-regular.eot');
  src: url('../fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ptsans-regular.woff2') format('woff2'),
  url('../fonts/ptsans-regular.woff') format('woff'),
  url('../fonts/ptsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
