.greating {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F44336;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.greating__text {
  display: none;
  font: 45px 'Arial', sans-serif;
  color: #fff;
}
.visible{
  display: block;
}
