.review-header{
  @extend .photo-header;
}

.review-header__name{
  @extend .photo-header__name;
}

.review-header__desc{
  @extend .photo-header__desc;
}

.form__item{
  border-top: 1px solid $border-gray;
  padding: 25px 20px;
}

.form__common-title{
  font-family: $pts_bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
}

.form-introduce__item{
  margin-bottom: 21px;
  display: flex;
  align-items: center;

  &:last-child{
    margin-bottom: 0;
  }
}

.form__common-name{
  font-family: $pts;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
}

.form-input{
  height: 57px;
  width: 100%;
  padding: 0 0 0 22px;
  background-color: $player-control;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
}

::-webkit-input-placeholder{
  font-family: $pts_bold;
  color: #000
}

::-moz-placeholder{
  font-family: $pts_bold;
  color: #000
}

:-moz-placeholder{
  font-family: $pts_bold;
  color: #000
}

:-ms-input-placeholder{
  font-family: $pts_bold;
  color: #000
}

.form-contact__item{
  margin-bottom: 21px;

  &:last-child{
    margin-bottom: 0;
  }
}

.input-contact{
  position: relative;

  &:after{
    position: absolute;
    content: '';
    width: 57px;
    height: 57px;
    right: 0;
    background-color: $border-gray-dark;
  }
}

.input-contact_tel{

  &:after{
    background: url(../img/icon-tel.svg) center no-repeat;
    background-size: 18px;
    background-color: $border-gray-dark;
  }
}

.input-contact_email{

  &:after{
    background: url(../img/icon-email.svg) center no-repeat;
    background-size: 18px;
    background-color: $border-gray-dark;
  }
}

.form__tel{
  margin: 0 0 16px 22px;
}

.form__email{
  margin: 0 0 16px 22px;
}

.form-impression__item{
  height: 56px;
  margin-bottom: 13px;
}

.form-input__radio{
  display: none;
}

.form-impression__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-family: $pts_bold;
  font-size: 18px;
  text-transform: initial;

  &:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 17px solid $player-control;
    border-radius: 50%;
    background-color: $player-control;
    margin-right: 23px;
    transition: 0.3s;
  }
}

.form-input__radio:checked + .form-impression__label:before {
  background-color: #000;
}

.form-landmark__item{
  height: 56px;
  margin-bottom: 24px;

  &:last-child{
    margin-bottom: 0;
  }
}

.form-input__checkbox{
  display: none;
}

.form-landmark__label{
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-family: $pts_bold;
  font-size: 18px;
  text-transform: initial;
  position: relative;

  &:before {
    content: '';
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: $player-control;
    margin-right: 23px;
  }

  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    background: url(../img/icon-tick.svg) center no-repeat;
    width: 24px;
    height: 16px;
    opacity: 0;
    transition: 0.3s;
  }
}

.form-input__checkbox:checked + .form-landmark__label:after {
  opacity: 1;
}

.form__textarea{
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border: none;
  background-color: $player-control;
  padding: 22px 20px;
  margin-bottom: 50px;
  font-family: $pts_bold;
  font-size: 18px;
  line-height: 26px;
  resize: none;

  &:focus{
    outline: none;
  }
}

button{
  border: none;
}

.emotions__btn{
  @extend .interested__btn;
  text-transform: uppercase;
}
