// colors
$blue-button: #81b3d2;
$blue-button_hover: #669ec0;
$blue-button_down: #5496bd;
$blue-button_disables: #e5e5e5;
$blue-button_before: #9ac2db;
$blue-button_after: #678fa8;
$main-menu-active: #766357;
$main-menu-active_hover: #604e43;
$font-main: #333333;
$gray: #eeeeee;
$gray_hover: #d4d4d4;
$border: #d6d6d6;
$border-gray: #e5e5e5;
$border-gray-dark: #e6e6e6;
$player-control: #f2f2f2;
$player-track: #000;

// fonts
$pts: 'pt_sansregular', sans-serif;
$pts_bold: 'pt_sansbold', sans-serif;