// colors
$blue-button: #81b3d2;
$blue-button_hover: #669ec0;
$blue-button_down: #5496bd;
$blue-button_disables: #e5e5e5;
$blue-button_before: #9ac2db;
$blue-button_after: #678fa8;
$main-menu-active: #766357;
$main-menu-active_hover: #604e43;

// fonts
$pts: 'pt_sansregular', sans-serif;
$pts_bold: 'pt_sansbold', sans-serif;