extends ../_template

block variables
    - var title = 'Форма отзыва'

block content
    include ../common/mobile-menu
    include ../common/header
    include ../common/main-form
    include ../common/footer