extends ../_template

block variables
  -
    var title = 'Welcome to Sedona'
    var isIndexPage = 'true';
    var pageName = 'index';

block map
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet')
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js')

block content
  include ../common/mobile-menu
  .container
    include ../common/header
    main.main-index
      include ../common/reasons
      include ../common/interested
      include ../common/map
    include ../common/footer
