extends ../_template

block variables
  - var title = 'Welcome to Sedona'

block content
  include ../common/mobile-menu
  include ../common/header
  main.main-index
    include ../common/reasons
    include ../common/interested
    include ../common/map
  include ../common/footer
