extends ../_template

block variables
    -
        var title = 'Фото и видео'
        var isIndexPage = false;

block content
    include ../common/mobile-menu
    .container
        include ../common/header
        main.photo__main
            include ../common/main-photo
            include ../common/main-video
        include ../common/footer
