extends ../_template

block variables
    - var title = 'Фото и видео'

block content
    include ../common/mobile-menu
    include ../common/header
    include ../common/main-photo
    include ../common/footer